*,html,body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header_judul{
    grid-area: header;
}
.gauge_sha{
    grid-area: gaugesha;
}
.gauge_kla{
    grid-area: gaugekla;
}
.gauge_hia{
    grid-area: gaugehia;
}
.gauge_shl{
    grid-area: gaugeshl;
}
.gauge_kll{
    grid-area: gaugekll;
}
.card_usia{
    grid-area: cardusia;
}
.kontainer{
    grid-area: kontainer;
}
.grafik_1{
    grid-area: grafik1;
}
.judul_header1{
    grid-area: judul_head1;
}
.judul_header2{
    grid-area: judul_head2;
}
.kipas_0{
    grid-area: kipas_0;
}
.sisa_air{
    grid-area: sisa_a;
}
.suhu_air{
    grid-area: suhu_a;
}
.ppm_air{
    grid-area: ppm_a;
}
.ph_air{
    grid-area: ph_a;
}
.ec_air{
    grid-area: ec_a;
}
.inten_cahaya{
    grid-area: inten_c;
}
.kso_air{
    grid-area: kso_a;
}





.menu {
    grid-area: menu;
    background: lightcoral;
}

.content {
    grid-area: content;
    background: lightgreen;
}

.sidebar {
    grid-area: sidebar;
    background: lightgoldenrodyellow;
}

.footer {
    grid-area: footer;
    background: lightgray;
}

.grid{
    display: grid;
}

.grid-container{
    display: grid;
    grid-template-areas:
        "header";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.grid-card_header{
    height: 5rem;
    padding: 0.3rem;
    background-color: white;
    color: white;
    padding-bottom: 0.4rem;
    margin-bottom: 2%;
    box-shadow: 0rem 0rem 1.5rem 0rem rgba(0, 0, 0, 0.3); 
    display: grid;
    grid-template-columns: 1rem 7rem 1fr 8rem 0.5rem;
    
}

.grid-judul_header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "judul_head1"
        "judul_head2"
    }

.grid-detail_tanaman{
    display: grid;
    gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 1fr 1fr 0.5fr;
    grid-template-areas:
        "sisa_a sisa_a kso_a kso_a kso_a kso_a "
        "ppm_a ppm_a ph_a ph_a suhu_a suhu_a "
        "ec_a ec_a ec_a ec_a ec_a ec_a "
        "inten_c inten_c inten_c inten_c inten_c inten_c "
    }
    

    
@media (min-width: 500px) {
    .grid-container {
        grid-template-areas:
            "header header"
            "menu content"
            "sidebar content"
            "footer footer";
        grid-template-columns: 1fr 2fr;
    }
    .grid-card_header{
        height: 10vh;
    }
}

/* Desktop (min-width: 1024px) */

.tx1{
    font-size: 2rem;
    color: black;
}
.tx2{
    font-size: 1.6rem;
    color: black;
}
.tx3{
    font-size: 1.2rem;
    color: black;
}
.tx4{
    font-size: 0.8rem;
    color: black;
}
.tx5{
    font-size: 0.4rem;
    color: black;
}
.tx6{
    font-size: 2rem;
    color: black;
}
.tx7{
    font-size: 1.6rem;
    color: black;
}
.tx8{
    font-size: 0.6rem;
    color: black;
}
.tx9{
    font-size: 0.4rem;
    color: black;
}
.tx10{
    font-size: 0.2rem;
    color: black;
}


.txt1{
    font-size: 4.2vw;
}

.txt2{
    font-size: 3.5vw;
}

.txt3{
    font-size: 2.8vw;
}

.txt4{
    font-size: 2.1vw;
}

.txt5{
    font-size: 1.4vw;
}

.txt6{
    font-size: 0.7vw;
}

:root{
    --bg-primary:white;
    --bg-secondary:#222;
    --txt-putih:white;
    --page-width: 500px;
    --rasio-gauge: 1.1;
}
.loading_1{    
    position: fixed;
    z-index: 5000;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 40vw;
    background-image: url(https://www.svgrepo.com/show/397440/melon.svg);
    background-size: cover;
    transform: translate(-50%, -50%);
    animation: rotateSquare 1s linear infinite;
    display: block;

}

.header_container{
    
}

.header_wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    width: auto;
    height: auto;

}

.header_card{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    color: black;
    padding-left: 3vw;   
    margin: 0vw; 
}

.indikator_online{
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgb(59, 225, 89);    
    border: black solid 0vw;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}

.container{
    width: auto;
    height: auto;
    padding: 1% 3% 1% 2%;
    background-color: none;
    color: black;
    margin: 4%;
    box-shadow: 2.5vw 2.5vw 5vw rgba(0, 0, 0, 0.1);
    border-radius: 3vw; 
    
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: auto;
    height: auto;
    
}

.card{
    width: auto;
    height: auto;
    color: black;
    padding: 1%;   
    margin: 1% 1% 1% 1%; 
}

.card2{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    color: black;
    padding: 1%;   
    margin: 1px; 
}

.card_widget{
    width: 30vw;
    height: auto;
    color: black;
    padding: 1%;   
    margin: 1px; 
}

.judul_widget{
    font-size: calc(1.8vw*var(--rasio-gauge));
    
}

.card_gauge{
    width: auto;
    height: calc(25vw*var(--rasio-gauge)) ;
    color: black;
    padding: 1%;   
    margin: 1% 1% 1% 1%; 
}

.skill{
    /*border: 1px solid black;
    /*background: cornflowerblue;*/
    margin: calc(1vw*var(--rasio-gauge)) calc(0vw*var(--rasio-gauge)) calc(10vw*var(--rasio-gauge)) calc(2vw*var(--rasio-gauge));
    position: relative;
    transform: rotate(135deg);
}

.outer{
    height: calc(20vw*var(--rasio-gauge));
    width: calc(20vw*var(--rasio-gauge));
    border-radius: 50%;
    padding: calc(1vw*var(--rasio-gauge));
}

.inner{
    height: calc(20vw*var(--rasio-gauge));
    width: calc(20vw*var(--rasio-gauge));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#number{
    font-weight: 600;
    font-size: calc(3.5vw*var(--rasio-gauge));
    color: #555;
    transform: rotate(-135deg);
}

circle{
    fill: none;
    stroke: rgb(220, 220, 220);
    stroke-width: calc(8%);
    stroke-dasharray: calc(39vw*var(--rasio-gauge));
    stroke-dashoffset: calc(39vw*var(--rasio-gauge));
}

svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7%;
    left: 7%;
}

.ket_gauge_kiri{
    top: 36%;
    left: 97%;
    margin: 20;
    padding: 10;
    position: absolute;
    transform: rotate(225deg);
    font-size: calc(2vw*var(--rasio-gauge));
    
}

.ket_gauge_kanan{
    top: 3%;
    left: 62%;
    margin: 20;
    padding: 10;
    position: absolute;
    transform: rotate(225deg);
    font-size: calc(2vw*var(--rasio-gauge));
    
}

@keyframes anim{
    100%{
        stroke-dashoffset: 0;
    }
}

.container_group_widget{
    width: 100%;
    height: auto;
    padding: 1%;
    background-color: none;
    color: black;
    margin: 1%;
    box-shadow: 2.5vw 2.5vw 5vw rgba(0, 0, 0, 0.1);
    border-radius: 3vw; 
    font-size: 1rem;
    
}

.wrapper_group_widget{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;

}

.card_group_widget{
    color: black;
    padding: 1%;   
    margin: 1% 1% 1% 1%; 
    font-size: 1rem;
    border-radius: 10px;
}




.gambar_widget{
    width: 100px;
    height: 100px;
    background-image: url();
    background-size: cover;
    position: absolute;
    background-size: cover;
}

.logo_ayam{
    width: 15vw;
    height:15vw;
}

.logo_listrik{
    width: 12vw;
    height: 16vw;
}

.logo_analisa{
    width: 20vw;
    height: 20vw;
}

.intensitas-container {
    width: 100%;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 40px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    width: 0%; /* Default 0% */
    background: linear-gradient(90deg, #000000, #fffc36);
    transition: width 0.3s ease-in-out;
}

#progress-value {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.putar{
    transform: translate(-50%, -50%);
    animation: rotateSquare 3s linear infinite; /* Animasi rotasi */
}

.kipas0 {
    width: 1.5rem;
    height: 1.5rem;
    top: 50%;
    left: 50%;
    position: relative;
    background-image: url(https://www.svgrepo.com/show/126808/propeller.svg);
    background-size: cover;
    transform: translate(-50%, -50%);
    animation: rotateSquare 3s linear infinite; /* Animasi rotasi */
}

.melon0 {
    width: 1.5rem;
    height: 1.5rem;
    top: 50%;
    left: 50%;
    position: relative;
    background-image: url(https://www.svgrepo.com/show/397440/melon.svg);
    background-size: cover;
    transform: translate(-50%, -50%);
    animation: rotateSquare 3s linear infinite; /* Animasi rotasi */
}

.kipas {
    width: 12vw;
    height: 12vw;
    top: 50%;
    position: absolute;
    background-image: url(https://www.svgrepo.com/show/126808/propeller.svg);
    background-size: cover;
    transform: translate(-50%, -50%);
    animation: rotateSquare 1s linear infinite; /* Animasi rotasi */
}

.kipas_1 {
    left: 13%;
}

.kipas_2 {  
    left: 33%;
}

.kipas_3 {  
    left: 50%;
}

.kipas_4 {  
    left: 67%;
}

.kipas_5 {  
    left: 87%;
}

.judul_container_kipas{
    width: auto;
    height: auto;
    background-color: none;
    color: black;
    margin: 5% 0% 0% 5%;
}

.container_kipas {
    width: 90%;
    height: 20vw;
    position: relative;
    padding: 1px;
    border: 1vw solid black;
    margin: 1% 5% 0% 5%;
}
.container_keterangan_kipas{
    top: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    position: relative;
    padding-left: 6.5%;
    width: 85vw;
    margin: 0% 5% 5% 5%;
}

.card_keterangan_kipas{
    width: 10vw;
    text-align: center;
}

@keyframes rotateSquare {
    from {
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media only screen and (max-width : 500px){
    
}

.crt_panas_wrap{
    display: flex;
    flex-wrap: nowrap;
    border: 0vw solid rgb(0, 0, 0);
    width: 100%;
    height: 20vw;
}

.crt_panas_blok{
    border: 0vw solid black;
    width: 5%;
    height: 20vw;
    
}

.tengah{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.keterangan_huruf{
    font-size: 3vw;
    margin: 1vw;
    padding: 0.1vw;
}

.mrg3{
    margin: 3vw;
}

#kotak {
    width: 200px;
    height: 200px;
    
}

.container_input {
    max-width: 85vw;
    margin: auto;
    padding: 5vw;
    border: 1px solid #ddd;
    border-radius: 1vw;
    background-color: #f9f9f9;
}

/* Layout flex untuk label dan input */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
}

.input-group label {
    flex: 1;
    min-width: 47vw;
    /*font-weight: bold;*/
}

.input-group input {
    flex: 2;
    padding: 2vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Output area */
.output-group {
    margin-top: 7vw;
}

.output-group span {
    /*font-weight: bold;*/
    margin-top: 0vw;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #resultContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }

  /* Gaya untuk tombol edit */
.edit-button {
    background-color: #40E0D0; /* Warna biru tosca */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px 0;
    border-radius: 5px;
    width: 100%;
}

/* Gaya untuk tombol hapus */
.delete-button {
    background-color: #FF6347; /* Warna merah tomat */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
}

/* Style for result items container */
.result-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
    max-width: 400px;
}

/* Style untuk menambahkan jarak antara tombol edit dan hapus */
.result-item button {
    display: block;
    margin-top: 5px;
}

.water-level-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #e0e0e0;*/
}

.glass-container {
    position: relative;
    width: 20vw;
    height: 40vw;
}

/* Bentuk gelas */
.glass {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid #0077b6;
    border-top: none;
    border-radius: 0 0 20px 20px;
    /*background: rgba(255, 255, 255, 0.8);*/
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Air di dalam gelas */
.water {
    position: absolute;
    width: 100%;
    height: 50%; /* Level air default 50% */
    bottom: 0;
    background-color: #00b4d8;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(248, 248, 248);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 10px;
    z-index: 1000;
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #111;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    background-color: #575757;
  }

  /* Custom button for menu */
  .open-btn {
    position: fixed;
    top: 25vw;
    left: 0;
    width: 20px;
    height: 80px;
    background-color: #5f5f5f;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 30%, 100% 70%, 0 100%);
    transition: 0.3s;
    z-index: 1100;
  }

  .open-btn:hover {
    background-color: #282828;
    top: 25vw;
  }

  /* Move the button with the sidebar */
  .open-btn.active {
    left: 250px;
    top: 25vw;
  }

  /* Overlay when sidebar is open */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .overlay.active {
    display: block;
  }